body{
    background: #f4f2ec url(../img/fundo.png) repeat-x;
    font: 12px "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif;
}
#container{
    width: 1080px;
    margin: 0 auto;
    
}

a:link, a:active, a:visited{
    color: #af670a;
    text-decoration: none;
}
a:hover{
    color: #227115;
}

/*Logo
................................*/
#logo{
    float: left;

}
#logo a{
    width: 248px;
    height: 21px;
    text-indent: -9999px;
    display: block;
    background: url(../img/logo.png) no-repeat;
    float: left;
}
header{
    padding: 10px 0;
    height: 55px;
}
/*Navegação
................................*/
nav ul{
    list-style: none;
    margin: 20px;
    float: right;
}

nav ul li{
    float: left;
}

nav ul li a:link{
    display: block;
    margin-right: 25px;
    padding-bottom: 3px;
    text-transform: uppercase;
}
nav ul li a:hover{
    border-bottom: 1px solid #545858;
}

/*Principal
................................*/
#conteudo{
    width: 710px;
    float: left;
}
aside{
    width: 350px;
    float: right;
    background: #ebe7dd;
}

section#visita{
    background-color: #cdc8c1;
    padding: 10px 27px 27px 27px;
    margin-top: 10px ;
}
h4{
    color: #86521a;
    text-transform: uppercase;
    padding-bottom: 3px;
    margin-bottom: 0;

}
/*Formulário
................................*/
section#visita h4{
    text-align: center;
}
input{
    height: 20px;
    width: 80px;
    background: #fff;
    border: none;
    font-size: 1em;
}
input.campo{
    border: 1px solid #ada484;
}
input.botao{
    background:#9b9271;
    color: white;
    width: 100%;
    height: 40px;
    font-size: 1.2em;
}
fieldset{
    border: none;
}
/*galeria de fotos
................................*/
section#galeria a{
    display: block;
    background: url(../img/fundo-foto.png) no-repeat;
    float: left;  
    padding: 17px;
    margin-left: 30px;
    margin-bottom: 20px;
   }

section#galeria h4{
    text-align: center;
}

/*galeria
................................*/
#conteudo h4{
    color: #227115;
}
section#conheca {
    float: left;
    width: 310;
    margin-left: 20px;
}
    
section#mapa {
    float: left;
    width: 310;
    margin-left: 20px;
}
section#exposicoes {
    float: left;
    width: 310px;
    height: 170px;
    margin-left: 20px;
    
}

section#historia {
    float: left;
    width: 310px;
    height: 170px;
    margin-left: 20px;
    
}
section#exposicoes ul li{
    color: #86521a;
}
section#historia p{
    color: #86521a;
}


/*galeria
................................*/
footer{
    background: url(../img/fundo-rodape.png) no-repeat center top;
    margin-top: 20px;
    width: auto;
    height: 100px;
    text-align: center;
    
}
footer>p a{    
    margin-left: 10px;
}
footer h4{
    text-transform: lowercase;
    text-align: center;
}
